.popup-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 990;
  text-align: center;
  visibility: hidden;
}

.popup-innards {
  width: 400px;
  height: 400px;
  background-color: white;
  display: inline-block;
  margin-top: calc(50vh - 200px);
  visibility: hidden;
}

.outer-div {
  background-color: green;
}